<!-- breadcrumb area start -->
<app-breadcrumbs title="Galería"></app-breadcrumbs>
<!-- breadcrumb area End -->

<!-- gallery area start -->
<div class="gallery-area pd-top-120">
    <div class="container">
       <div class="row">
           <div class="col-lg-12">
                <div class="gallery-masonry-wrapper">
                    <ul class="gallery-menu text-center">
                        <li class="active" data-filter="*">Todos</li>
                        <li data-filter=".business">Business</li>
                        <li data-filter=".management">Administración</li>
                        <li data-filter=".finance">Finanzas</li>
                        <li data-filter=".technology">Tecnologías</li>
                    </ul>
                    <div class="gallery-masonry row no-gutters">
                        <div class="col-md-4 col-sm-6 masonry-item business technology">
                            <a class="single-work-item text-center" data-effect="mfp-zoom-in" href="assets/img/gallery/9.png">
                                <span class="thumb">
                                    <img src="assets/img/gallery/9.png" alt="gallery">
                                </span>
                                <span class="content-wrap">
                                    <span class="content">
                                        <span class="title">Mi Carta Digital</span>
                                        <span class="text-warning">React / Python</span>
                                    </span>
                                </span>
                            </a>
                        </div>
                        <div class="col-md-4 col-sm-6 masonry-item finance technology">
                            <a class="single-work-item text-center" data-effect="mfp-zoom-in" href="assets/img/gallery/9.png">
                                <span class="thumb">
                                    <img src="assets/img/gallery/9.png" alt="gallery">
                                </span>
                                <span class="content-wrap">
                                    <span class="content">
                                        <span class="title">La Sabrosa</span>
                                        <span class="text-warning">Angular</span>
                                    </span>
                                </span>
                            </a>
                        </div>
                        <div class="col-md-4 col-sm-6 masonry-item business management">
                            <a class="single-work-item text-center" data-effect="mfp-zoom-in" href="assets/img/gallery/9.png">
                                <span class="thumb">
                                    <img src="assets/img/gallery/9.png" alt="gallery">
                                </span>
                                <span class="content-wrap">
                                    <span class="content">
                                        <span class="title">Rencas Movie</span>
                                        <span class="text-warning">React</span>
                                    </span>
                                </span>
                            </a>
                        </div>
                        <div class="col-md-4 col-sm-6 masonry-item finance technology">
                            <a class="single-work-item text-center" data-effect="mfp-zoom-in" href="assets/img/gallery/9.png">
                                <span class="thumb">
                                    <img src="assets/img/gallery/9.png" alt="gallery">
                                </span>
                                <span class="content-wrap">
                                    <span class="content">
                                        <span class="cats">UI/UX Design</span>
                                        <span class="title">Ui Problem solving</span>
                                    </span>
                                </span>
                            </a>
                        </div>
                        <div class="col-md-4 col-sm-6 masonry-item finance management">
                            <a class="single-work-item text-center" data-effect="mfp-zoom-in" href="assets/img/gallery/5.png">
                                <span class="thumb">
                                    <img src="assets/img/gallery/5.png" alt="gallery">
                                </span>
                                <span class="content-wrap">
                                    <span class="content">
                                        <span class="cats">UI/UX Design</span>
                                        <span class="title">Ui Problem solving</span>
                                    </span>
                                </span>
                            </a>
                        </div>
                        <div class="col-md-4 col-sm-6 masonry-item business technology">
                            <a class="single-work-item text-center" data-effect="mfp-zoom-in" href="assets/img/gallery/6.png">
                                <span class="thumb">
                                    <img src="assets/img/gallery/6.png" alt="gallery">
                                </span>
                                <span class="content-wrap">
                                    <span class="content">
                                        <span class="cats">UI/UX Design</span>
                                        <span class="title">Ui Problem solving</span>
                                    </span>
                                </span>
                            </a>
                        </div>
                        <div class="col-md-4 col-sm-6 masonry-item finance management">
                            <a class="single-work-item text-center" data-effect="mfp-zoom-in" href="assets/img/gallery/7.png">
                                <span class="thumb">
                                    <img src="assets/img/gallery/7.png" alt="gallery">
                                </span>
                                <span class="content-wrap">
                                    <span class="content">
                                        <span class="cats">UI/UX Design</span>
                                        <span class="title">Ui Problem solving</span>
                                    </span>
                                </span>
                            </a>
                        </div>
                        <div class="col-md-4 col-sm-6 masonry-item finance technology">
                            <a class="single-work-item text-center" data-effect="mfp-zoom-in" href="assets/img/gallery/8.png">
                                <span class="thumb">
                                    <img src="assets/img/gallery/8.png" alt="gallery">
                                </span>
                                <span class="content-wrap">
                                    <span class="content">
                                        <span class="cats">UI/UX Design</span>
                                        <span class="title">Ui Problem solving</span>
                                    </span>
                                </span>
                            </a>
                        </div>
                        <div class="col-md-4 col-sm-6 masonry-item technology management">
                            <a class="single-work-item text-center" data-effect="mfp-zoom-in" href="assets/img/gallery/9.png">
                                <span class="thumb">
                                    <img src="assets/img/gallery/9.png" alt="gallery">
                                </span>
                                <span class="content-wrap">
                                    <span class="content">
                                        <span class="cats">UI/UX Design</span>
                                        <span class="title">Ui Problem solving</span>
                                    </span>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
           </div>
       </div>
    </div>
</div>
<!-- gallery area End -->