<!-- breadcrumb area start -->
<app-breadcrumbs title="Contacto"></app-breadcrumbs>
<!-- breadcrumb area End -->

<!-- contact form start -->
<div class="contact-form-area pd-top-112">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-8">
                <div class="section-title text-center w-100">
                    <h2 class="title">Pregunta como <span>puedo ayudarte</span></h2>
                    <p>Estoy aquí para brindarte más información y para responder cualquier duda que puedas tener.</p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-xl-4 col-lg-5 text-center">
                <img src="assets/img/others/contact.png" alt="blog">
            </div>
            <div class="col-lg-7 offset-xl-1">
                <form (ngSubmit)="send_email()" [formGroup]="myForm" class="riyaqas-form-wrap mt-5 mt-lg-0">
                    <div class="row custom-gutters-16">
                        <div class="col-md-12">
                            <small *ngIf="validators('email')" class="text-danger">Es necesario que ingrese un email.</small>
                            <div class="single-input-wrap">
                                <input formControlName="email" type="email" class="single-input" placeholder="Email">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <small *ngIf="validators('subject')" class="text-danger">Es necesario que ingrese un asunto.</small>
                            <div class="single-input-wrap">
                                <input formControlName="subject" type="text" class="single-input" placeholder="Asunto">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <small *ngIf="validators('message')" class="text-danger">Es necesario que ingrese un mensaje.</small>
                            <div class="single-input-wrap">
                                <textarea formControlName="message" class="single-input textarea" cols="20" placeholder="Mensaje"></textarea>
                            </div>
                        </div>
                        <div class="col-12">
                            <button *ngIf="!load_btn" type="submit" class="btn btn-red mt-0">Enviar</button>
                            <button *ngIf="load_btn" type="button" class="btn btn-red mt-0" disabled>Enviando</button>
                        </div> 
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- contact form End -->

<!-- faq area Start -->
<div class="faq-area pd-top-120">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-8 col-lg-11">
                <div class="section-title style-five text-center">
                    <h2 class="title">Preguntas <span>Frecuentes</span></h2>
                    <p class="sub-title"><span>¿Tienes otras consultas?</span><br> 
                        Envíame un mensaje de whatsapp al <a class="sub-title" href="https://wa.me/51940994003" target="_blank">+51 940994003</a> 
                        o un correo electrónico a <a class="sub-title" href="mailto:aranibargerson28@gmail.com">aranibargerson28@gmail.com</a>
                    </p>
                </div>
                <div class="accordion style-two" id="accordion">
                    <div *ngFor="let item of questions; let i = index" class="single-accordion card">
                        <div class="card-header">
                            <h2 class="mb-0">
                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" [attr.data-target]="'#collapse-' + i" aria-expanded="true">{{ item.title }}</button>
                            </h2>
                        </div>
                        <div [id]="'collapse-' + i" class="collapse" data-parent="#accordion">
                            <div class="card-body">{{ item.description }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- faq area End -->
