<nav [ngClass]="path == '/' ? 'navbar-area-2' : 'nav-style-01'" class="navbar navbar-area navbar-expand-lg">
    <div class="container nav-container">
        <div class="responsive-mobile-menu">
            <div class="logo-wrapper mobile-logo">
                <a routerLink="/" class="logo">
                    <img [ngClass]="path == '/' ? '' : 'd-none'" class="main-logo" src="assets/img/sticky-logo.png" alt="logo">
                    <img class="sticky-logo" src="assets/img/logo.png" alt="logo">
                </a>
            </div>
            <div class="nav-right-content">
                <ul>
                    <li class="search"><i class="ti-search"></i></li>
                </ul>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#riyaqas_main_menu" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggle-icon">
                    <span class="line"></span>
                    <span class="line"></span>
                    <span class="line"></span>
                </span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="riyaqas_main_menu">
            <div class="logo-wrapper desktop-logo">
                <a routerLink="/" class="logo">
                    <img [ngClass]="path == '/' ? '' : 'd-none'" class="main-logo" src="assets/img/sticky-logo.png" alt="logo">
                    <img class="sticky-logo" src="assets/img/logo.png" alt="logo">
                </a>
            </div>
            <ul class="navbar-nav text-right">
                <li><a routerLink="/">Inicio</a></li>
                <li class="menu-item-has-children">
                    <a href="#">Proyectos</a>
                    <ul class="sub-menu">
                        <li><a href="about.html">About</a></li>
                        <li><a href="service.html">Service</a></li>
                        <li><a href="team.html">Team</a></li>
                        <li><a href="pricing.html">Pricing</a></li>
                        <li><a href="gallery.html">Gallery</a></li>
                        <li><a href="faq.html">Faq</a></li>
                        <li><a href="offer.html">Offer</a></li>
                        <li><a href="error.html">Error 404</a></li>
                        <li><a href="comming-soon.html">Comming Soon</a></li>
                        <li><a href="work-processing.html">Work Processing</a></li>
                    </ul>
                </li>
                <li><a routerLink="services">Servicios</a></li>
                <li><a routerLink="process">Procesos</a></li>
                <li><a routerLink="about">Nosotros</a></li>
                <li><a routerLink="contact">Contacto</a></li>
            </ul>
        </div>
    </div>
  </nav>
  