<nav [ngClass]="path == '/' ? 'navbar-area-2' : 'nav-style-01'" class="navbar navbar-area navbar-expand-lg">
    <div class="container nav-container">
        <div class="responsive-mobile-menu">
            <div class="logo-wrapper mobile-logo">
                <app-logo path={{path}}></app-logo>
            </div>
            <div class="nav-right-content">
                <ul><li class="search"><i class="ti-search"></i></li></ul>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#riyaqas_main_menu" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggle-icon">
                    <span class="line"></span>
                    <span class="line"></span>
                    <span class="line"></span>
                </span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="riyaqas_main_menu">
            <div class="logo-wrapper desktop-logo">
                <app-logo path={{path}}></app-logo> 
            </div>
            <ul class="navbar-nav text-right">
                <li><a routerLink="/">Inicio</a></li>
                <li><a routerLink="/services" routerLinkActive="active-link" >Servicios</a></li>
                <li><a routerLink="/process" routerLinkActive="active-link" >Procesos</a></li>
                <li><a routerLink="/about" routerLinkActive="active-link" >Sobre mí</a></li>
                <li><a routerLink="/contact" routerLinkActive="active-link" >Contacto</a></li>
            </ul>
        </div>
    </div>
</nav>
