<!-- breadcrumb area start -->
<app-breadcrumbs title="Sobre mí"></app-breadcrumbs>
<!-- breadcrumb area End -->

<!-- hosting area start -->
<div class="hosting-type-area pd-top-120">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <ul class="nav nav-tabs sb-hosting-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#d_tabs_1"><img src="assets/img/icons/1.svg" style="width: 20px;" alt="img">Sobre mí</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#d_tabs_2"><img src="assets/img/icons/2.svg" style="width: 20px;" alt="img">Estudios</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#d_tabs_3"><img src="assets/img/icons/3.svg" style="width: 20px;" alt="img">Misión</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"  data-toggle="tab" href="#d_tabs_4"><img src="assets/img/icons/4.svg" style="width: 20px;" alt="img">Visión</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"  data-toggle="tab" href="#d_tabs_5"><img src="assets/img/icons/5.svg" style="width: 20px;" alt="img">Hobbies</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-8">
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="d_tabs_1" >
                        <div class="single-hosting-content">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="section-title style-two hosting-tab-title">
                                        <h6 class="title">¿Qué puedo decir <span>sobre mí?</span></h6>
                                    </div>
                                    <p class="text-justify">Mi nombre es Gerson Aranibar, tengo 25 años y soy un joven ingeniero de Sistemas especializado en Desarrollo Web Fullstack en tecnologías como Angular, React, Node, Python y PHP.</p>
                                    <p class="text-justify">Me considero una persona seria y responsable en los proyectos que realizo y proponerme retos que aporten conocimientos.</p>
                                    <p class="text-justify">Soy observador y muy meticuloso en los detalles, por esta razón mis entregables son personalizados y con un estilo profesional.</p>
                                </div>
                                <div class="col-lg-6 d-flex align-items-center">
                                    <div class="thumb">
                                        <img src="assets/img/about/1.svg" alt="img">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="d_tabs_2">
                        <div class="single-hosting-content">
                            <div class="row">
                                <div class="col-lg-5">
                                    <div class="section-title style-two hosting-tab-title">
                                        <h6 class="title pb-1">¿Dónde <span>estudié?</span></h6>
                                    </div>
                                    <div class="riyaqas-check-list-wrap">
                                        <div class="riyaqas-check-list media">
                                            <img class="media-left" src="http://protodone.com/assets/img/icons/check3.svg" alt="check">
                                            <span>Bachiller, Ingeniería de Sistemas e Informática <br> UTP 2015-2020</span>
                                        </div>
                                        <div class="riyaqas-check-list media">
                                            <img class="media-left" src="http://protodone.com/assets/img/icons/check3.svg" alt="check">
                                            <span>Ingeniero, Ingeniería de Sistemas e Informática <br> UTP 2021</span>
                                        </div>
                                        <div class="riyaqas-check-list media">
                                            <img class="media-left" src="http://protodone.com/assets/img/icons/check3.svg" alt="check">
                                            <span>Especialista Desarrollo Web Fullstack <br> TECSUP 2021</span>
                                        </div>
                                        <div class="riyaqas-check-list media">
                                            <img class="media-left" src="http://protodone.com/assets/img/icons/check3.svg" alt="check">
                                            <span>Inglés Intermedio <br> ICPNA 2022</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-7">
                                    <div class="section-title style-two hosting-tab-title">
                                        <h6 class="title">Mi vida <span>universitaria</span></h6>
                                    </div>
                                    <p class="text-justify">Estudié la carrera de Ingeniería de sistemas e informática en la Universidad Tecnológica del Perú que se encuentra ubicado en el centro de Lima.</p>
                                    <p class="text-justify">En el 2021 realicé mi tesis de investigacón para titularme y obtener el grado de Ingeniero de Sistemas.</p>
                                    <p class="text-justify">Durante mi etapa universitaria, tuve un gran apreció a la programación. Participé en cursos y talleres relacionados a este tema dando forma a las bases necesarias para adentrarme más a este mundo.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="d_tabs_3">
                        <div class="single-hosting-content">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="section-title style-two hosting-tab-title">
                                        <h6 class="title">¿Cúal es mi <span>Misión?</span></h6>
                                    </div>
                                    <p class="text-justify">La misión que tengo como desarrollador independiente es ofrecer soluciones de negocios y alternativas que impulsen al empresario en su incursión al mundo de los negocios por internet, a través de un servicio de alta calidad, tecnología confiable, con diseño de vanguardia y siempre innovando.</p>
                                </div>
                                <div class="col-lg-6 d-flex align-items-center">
                                    <div class="thumb">
                                        <img src="assets/img/about/2.svg" alt="img">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="d_tabs_4">
                        <div class="single-hosting-content">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="section-title style-two hosting-tab-title">
                                        <h6 class="title">¿Cúal es mi <span>Visión?</span></h6>
                                    </div>
                                    <p class="text-justify">Tengo proyectado ser la mejor alternativa en Desarrollo Web, venta de softwares para la gestión de empresas y sus procesos facilitando oportunidades que internet ofrece para impulsar su negocio.</p>
                                    <p class="text-justify">En cuanto a calidad se refiere es tener una excelente relación con mis clientes, y donde mi prosperidad se comparta entre todos.</p>
                                </div>
                                <div class="col-lg-6 d-flex align-items-center">
                                    <div class="thumb">
                                        <img src="assets/img/about/3.svg" alt="img">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="d_tabs_5">
                        <div class="single-hosting-content">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="section-title style-two hosting-tab-title">
                                        <h6 class="title">¿Cuáles son mis <span>pasatiempos?</span></h6>
                                    </div>
                                    <p>Tengo que ser sincero respecto a esto, y esque la verdad me gusta jugar videojuegos en línea</p>
                                    <p>Shared hosting randomised words which don't look even slightly believable.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>    
        </div>
    </div>
</div>
<!-- hosting area end -->

<!-- sbst service area start -->
<div class="sbst-service-area pd-top-120">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-10">
                <div class="section-title text-center">
                    <h2 class="title">¿Qué es lo <span>que hago?</span></h2>
                    <p>Diseñar y desarrollar tu página web es un elemento fundamental, pero es solo el punto de partida de lo que puedo lograr.</p>
                </div>
            </div>
        </div>
        <div class="row custom-gutters-20 justify-content-center">
            <div *ngFor="let item of services" class="col-lg-3 col-sm-6">
                <div class="single-service-2 text-center">
                    <div class="thumb">
                        <img [src]="item.image" alt="service">
                    </div>
                    <h6>{{ item.title }}</h6>
                    <p>{{ item.description }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- sbst service area end -->

<!-- team area Start -->
<!-- <div class="team-area-wrpper about-team-area-wrpper pd-top-112 mg-top-120">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-10">
                <div class="section-title text-center">
                    <h2 class="title">Riyaqas y <span>Nuestro Equipo</span></h2>
                    <p>Riyaqas es de las mejores empresas de desarrollo de software. Riyaqas está a la vanguardia como la empresa de desarrollo web más innovadora. Nuestro trabajo en equipo rentable y estructurado.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="team-area text-center">
        <div class="container">
            <div class="row custom-gutters-20">
                <div class="col-lg-3 col-sm-6">
                    <div class="single-team">
                        <div class="thumb">
                            <img src="assets/img/startup/team/1.jpg" alt="team">
                        </div>
                        <h6><a href="#">Abedin Abed</a></h6>
                        <span>Creative Director</span>
                        <p>Riyaqas One of the best Software Development company.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single-team">
                        <div class="thumb">
                            <img src="assets/img/startup/team/2.jpg" alt="team">
                        </div>
                        <h6><a href="#">Jabedin jabed</a></h6>
                        <span>Projector Manager</span>
                        <p>Riyaqas One of the best Software Development company.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single-team">
                        <div class="thumb">
                            <img src="assets/img/startup/team/5.png" alt="team">
                        </div>
                        <h6><a href="#">Moin Khan</a></h6>
                        <span>Art Director</span>
                        <p>Riyaqas One of the best Software Development company.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single-team">
                        <div class="thumb">
                            <img src="assets/img/startup/team/3.jpg" alt="team">
                        </div>
                        <h6><a href="#">Moin Khan</a></h6>
                        <span>Art Director</span>
                        <p>Riyaqas One of the best Software Development company.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->
<!-- team area End -->
