<!-- breadcrumb area start -->
<div class="breadcrumb-area" style="background-image:url(assets/img/page-title-bg.png);">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-inner">
                    <h1 class="page-title">Nosotros</h1>
                    <ul class="page-list">
                        <li><a routerLink="/">Inicio</a></li>
                        <li>Nosotros</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb area End -->

<!-- about area start -->
<div class="about-provide-area pd-top-120 bg-none">
    <div class="container">
        <div class="row">
            <div class="col-xl-7 col-lg-6">
                <div class="img-with-video">
                    <div class="img-wrap">
                        <img src="assets/img/we-provide/1.png" alt="video">
                        <div class="hover">
                            <a href="https://www.youtube.com/watch?v=c7XEhXZ_rsk" class="video-play-btn mfp-iframe"><img src="assets/img/we-provide/3.png" alt="video"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-5 col-lg-6 desktop-center-item">
                <div>
                    <div class="section-title style-two">
                        <h2 class="title">¿Qué es <span>Riyaqas?</span></h2>
                        <p>Riyaqas es una de las mejores empresas de desarrollo de software. Riyaqas está a la vanguardia como la empresa de desarrollo web más innovadora. Nuestro trabajo en equipo rentable y estructurado justifica nuestra posición. Nuestros clientes cuentan con nuestras soluciones empresariales offshore de forma regular desde el concepto.</p>
                        <p>Desde el diseño hasta el desarrollo, pasando por las pruebas y la implementación, nuestro equipo está aquí para apoyarle y guiarle en cada paso del camino. Riyaqas es una de las mejores empresas de desarrollo de software.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- about area End -->

<!-- sbst service area start -->
<div class="sbst-service-area pd-top-80">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-10">
                <div class="section-title text-center">
                    <h2 class="title">¿Qué <span>hacemos?</span></h2>
                    <p>Riyaqas es una de las mejores empresas de desarrollo de software. Riyaqas está a la vanguardia como la empresa de desarrollo web más innovadora. Nuestro trabajo en equipo rentable y estructurado justifica nuestra posición.</p>
                </div>
            </div>
        </div>
        <div class="row custom-gutters-20 justify-content-center">
            <div class="col-lg-3 col-sm-6">
                <div class="single-service-2 text-center">
                    <div class="thumb">
                        <img src="assets/img/startup/service/1.png" alt="service">
                    </div>
                    <h6>Consultation</h6>
                    <p>Riyaqas One of the best Software Development company.Riyaqas is the forefront as the most innovative.</p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single-service-2 text-center">
                    <div class="thumb">
                        <img src="assets/img/startup/service/2.png" alt="service">
                    </div>
                    <h6>Brand & Identity</h6>
                    <p>Riyaqas One of the best Software Development company.Riyaqas is the forefront as the most innovative.</p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single-service-2 text-center">
                    <div class="thumb">
                        <img src="assets/img/startup/service/3.png" alt="service">
                    </div>
                    <h6>Web Design</h6>
                    <p>Riyaqas One of the best Software Development company.Riyaqas is the forefront as the most innovative.</p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single-service-2 text-center">
                    <div class="thumb">
                        <img src="assets/img/startup/service/4.png" alt="service">
                    </div>
                    <h6>Apps Development</h6>
                    <p>Riyaqas One of the best Software Development company.Riyaqas is the forefront as the most innovative.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- sbst service area end -->

<!-- team area Start -->
<div class="team-area-wrpper about-team-area-wrpper pd-top-112 mg-top-120">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-10">
                <div class="section-title text-center">
                    <h2 class="title">Riyaqas y <span>Nuestro Equipo</span></h2>
                    <p>Riyaqas es de las mejores empresas de desarrollo de software. Riyaqas está a la vanguardia como la empresa de desarrollo web más innovadora. Nuestro trabajo en equipo rentable y estructurado.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="team-area text-center">
        <div class="container">
            <div class="row custom-gutters-20">
                <div class="col-lg-3 col-sm-6">
                    <div class="single-team">
                        <div class="thumb">
                            <img src="assets/img/startup/team/1.jpg" alt="team">
                        </div>
                        <h6><a href="#">Abedin Abed</a></h6>
                        <span>Creative Director</span>
                        <p>Riyaqas One of the best Software Development company.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single-team">
                        <div class="thumb">
                            <img src="assets/img/startup/team/2.jpg" alt="team">
                        </div>
                        <h6><a href="#">Jabedin jabed</a></h6>
                        <span>Projector Manager</span>
                        <p>Riyaqas One of the best Software Development company.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single-team">
                        <div class="thumb">
                            <img src="assets/img/startup/team/5.png" alt="team">
                        </div>
                        <h6><a href="#">Moin Khan</a></h6>
                        <span>Art Director</span>
                        <p>Riyaqas One of the best Software Development company.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single-team">
                        <div class="thumb">
                            <img src="assets/img/startup/team/3.jpg" alt="team">
                        </div>
                        <h6><a href="#">Moin Khan</a></h6>
                        <span>Art Director</span>
                        <p>Riyaqas One of the best Software Development company.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- team area End -->
