<!-- breadcrumb area start -->
<app-breadcrumbs title="Proceso de Trabajo"></app-breadcrumbs>
<!-- breadcrumb area End -->

<!-- Ui element start -->
<div class="work-processing-area pd-top-120">
    <div class="container">
        <div class="row justify-content-center custom-gutters-16 single-work-processing">
            <div class="col-xl-5 col-md-6 order-lg-12">
                <div class="thumb swp-right-thumb">
                    <img src="assets/img/work-processing/1.png" alt="img">
                </div>
            </div>
            <div class="col-xl-4 col-md-6 order-lg-1 desktop-center-item">
                <div class="work-processing-details">   
                    <div class="section-title style-four">
                        <h1 class="counting-number">1</h1>
                        <h2 class="title">Recibir los <span>requerimientos del Cliente</span>  y entender el modelo de negocio.</h2>
                        <p>
                            Nos centraremos en conocer tu idea y comprender el modelo de negocio, los factores diferenciadores de la competencia y las características en las que debemos centrarnos.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center custom-gutters-16 single-work-processing">
            <div class="col-xl-5 col-md-6">
                <div class="thumb">
                    <img src="assets/img/work-processing/2.png" alt="img">
                </div>
            </div>
            <div class="col-xl-4 col-md-6 desktop-center-item">
                <div class="work-processing-details">   
                    <div class="section-title style-four">
                        <h1 class="counting-number">2</h1>
                        <h2 class="title">Análisis y <span>planificación</span></h2>
                        <p>Recopilar la información y analizar los requerimientos del cliente. Es importante dimensionar la magnitud y el alcance del proyecto que se va a contruir, mediante la estructura y las tecnologías a utilizar.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center custom-gutters-16 single-work-processing">
            <div class="col-xl-5 col-md-6 order-lg-12">
                <div class="thumb swp-right-thumb">
                    <img src="assets/img/work-processing/3.png" alt="img">
                </div>
            </div>
            <div class="col-xl-4 col-md-6 order-lg-1 desktop-center-item">
                <div class="work-processing-details">   
                    <div class="section-title style-four">
                        <h1 class="counting-number">3</h1>
                        <h2 class="title">Realizar el mapeo del <span>diseño y contenido</span></h2>
                        <p>Nos concetramos en el diseño visual del sitio, utilizando los principios de usabilidad  (facilidad de uso para el usuario) ,UI (interfaz de usuario) y UX (experiencia del usuario). Definir contenidos (imágenes, textos, vídeos) esenciales para el SEO.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center custom-gutters-16 single-work-processing">
            <div class="col-xl-5 col-md-6">
                <div class="thumb">
                    <img src="assets/img/work-processing/4.png" alt="img">
                </div>
            </div>
            <div class="col-xl-4 col-md-6 desktop-center-item">
                <div class="work-processing-details">   
                    <div class="section-title style-four">
                        <h1 class="counting-number">4</h1>
                        <h2 class="title"><span>Desarollar</span> las funcionalidades propuestas</h2>
                        <p>Una vez que terminamos la etapa del diseño se procederá a crear la aplicación web totalmente funcional. También se implementarán los elementos interactivos, como por ejemplo los formularios de contacto, animaciones, etc.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center custom-gutters-16 single-work-processing">
            <div class="col-xl-5 col-md-6 order-lg-12">
                <div class="thumb swp-right-thumb">
                    <img src="assets/img/work-processing/5.png" alt="img">
                </div>
            </div>
            <div class="col-xl-4 col-md-6 order-lg-1 desktop-center-item">
                <div class="work-processing-details">   
                    <div class="section-title style-four">
                        <h1 class="counting-number">5</h1>
                        <h2 class="title">Lanzamiento y soporte en <span>producción</span></h2>
                        <p>Nos centramos en montar el servidor, conectar las bases de datos necesarias y su publicación. Es conveniente probar que todo funciona para detectar y solventar errores.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Ui element End -->
