<!-- breadcrumb area start -->
<app-breadcrumbs title="Proceso de Trabajo"></app-breadcrumbs>
<!-- breadcrumb area End -->

<!-- Ui element start -->
<div class="work-processing-area pd-top-120">
    <div class="container">
        <div class="row justify-content-center custom-gutters-16 single-work-processing">
            <div class="col-xl-5 col-md-6 order-lg-12">
                <div class="thumb swp-right-thumb">
                    <img src="assets/img/work-processing/1.png" alt="img">
                </div>
            </div>
            <div class="col-xl-4 col-md-6 order-lg-1 desktop-center-item">
                <div class="work-processing-details">   
                    <div class="section-title style-four">
                        <h1 class="counting-number">1</h1>
                        <h2 class="title">Recibir los <span>Requerimientos del Cliente</span>  y entender su proceso.</h2>
                        <p>Why I say old chap that is, spiffing jolly good a load of old tosh spend a penny tosser arse over tit, excuse my French owt to do with me up the kyver matie boy.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center custom-gutters-16 single-work-processing">
            <div class="col-xl-5 col-md-6">
                <div class="thumb">
                    <img src="assets/img/work-processing/2.png" alt="img">
                </div>
            </div>
            <div class="col-xl-4 col-md-6 desktop-center-item">
                <div class="work-processing-details">   
                    <div class="section-title style-four">
                        <h1 class="counting-number">2</h1>
                        <h2 class="title"><span>Recopilar información</span> y análisis de los requerimientos del cliente</h2>
                        <p>Why I say old chap that is, spiffing jolly good a load of old tosh spend a penny tosser arse over tit, excuse my French owt to do with me up the kyver matie boy.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center custom-gutters-16 single-work-processing">
            <div class="col-xl-5 col-md-6 order-lg-12">
                <div class="thumb swp-right-thumb">
                    <img src="assets/img/work-processing/3.png" alt="img">
                </div>
            </div>
            <div class="col-xl-4 col-md-6 order-lg-1 desktop-center-item">
                <div class="work-processing-details">   
                    <div class="section-title style-four">
                        <h1 class="counting-number">3</h1>
                        <h2 class="title">Vamos a <span>Sketch/Wireframe</span> para mapear un Diseño</h2>
                        <p>Why I say old chap that is, spiffing jolly good a load of old tosh spend a penny tosser arse over tit, excuse my French owt to do with me up the kyver matie boy.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center custom-gutters-16 single-work-processing">
            <div class="col-xl-5 col-md-6">
                <div class="thumb">
                    <img src="assets/img/work-processing/4.png" alt="img">
                </div>
            </div>
            <div class="col-xl-4 col-md-6 desktop-center-item">
                <div class="work-processing-details">   
                    <div class="section-title style-four">
                        <h1 class="counting-number">4</h1>
                        <h2 class="title">Luego se empieza a desarollar cada funcionalidad propuesta hasta su <span>Implementation</span></h2>
                        <p>Why I say old chap that is, spiffing jolly good a load of old tosh spend a penny tosser arse over tit, excuse my French owt to do with me up the kyver matie boy.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center custom-gutters-16 single-work-processing">
            <div class="col-xl-5 col-md-6 order-lg-12">
                <div class="thumb swp-right-thumb">
                    <img src="assets/img/work-processing/5.png" alt="img">
                </div>
            </div>
            <div class="col-xl-4 col-md-6 order-lg-1 desktop-center-item">
                <div class="work-processing-details">   
                    <div class="section-title style-four">
                        <h1 class="counting-number">5</h1>
                        <h2 class="title">Finalmente <span>Implementar el Sistema</span> en un entorno real y en producción.</h2>
                        <p>Why I say old chap that is, spiffing jolly good a load of old tosh spend a penny tosser arse over tit, excuse my French owt to do with me up the kyver matie boy.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Ui element End -->
