<!-- breadcrumb area start -->
<app-breadcrumbs title="Servicios"></app-breadcrumbs>
<!-- breadcrumb area End -->

<!-- service area start -->
<div class="service-area sbtc-service-area pd-top-120">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-8">
                <div class="section-title text-md-center">
                    <h2 class="title">¿Qúe <span>servicios</span> ofrezco?</h2>
                    <p>Desarrollar tu página web es un elemento fundamental, pero es solo el punto de partida de lo que se puede lograr.</p>
                </div>
            </div>
        </div>
        <div class="row custom-gutters-16 justify-content-center">
            <div *ngFor="let item of services" class="col-xl-3 col-lg-6 col-sm-6">
                <div class="single-service-2 style-two text-center">
                    <div class="thumb">
                        <img [src]="item.image" alt="service">
                    </div>
                    <h6>{{ item.title }}</h6>
                    <p>{{ item.description }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- service area end -->

<!-- software area start -->
<div class="software-store-area mg-top-120 ">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="section-title text-center">
                    <h2 class="title">Softwares administrativos para <span>difetentes rubros</span></h2>
                    <p>Puntos de ventas, facturacción, inventario, CRM</p>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-after pd-top-120 pd-bottom-90 jarallax blue-bg">   
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-11">
                    <ul class="software-store-wrap">
                        <li>
                            <a class="single-software-store text-center">
                                <div class="thumb">
                                    <img src="http://protodone.com/assets/img/icons/ss1.svg" alt="img">
                                </div>
                                <h4>Restaurates</h4>
                            </a>
                        </li>
                        <li>
                            <a class="single-software-store text-center">
                                <div class="thumb">
                                    <img src="http://protodone.com/assets/img/icons/ss2.svg" alt="img">
                                </div>
                                <h4>Tienda online</h4>
                            </a>
                        </li>
                        <li>
                            <a class="single-software-store text-center">
                                <div class="thumb">
                                    <img src="http://protodone.com/assets/img/icons/ss3.svg" alt="img">
                                </div>
                                <h4>Artesanía</h4>
                            </a>
                        </li>
                        <li>
                            <a class="single-software-store text-center">
                                <div class="thumb">
                                    <img src="http://protodone.com/assets/img/icons/ss4.svg" alt="img">
                                </div>
                                <h4>Electrodomésticos</h4>
                            </a>
                        </li>
                        <li>
                            <a class="single-software-store text-center">
                                <div class="thumb">
                                    <img src="http://protodone.com/assets/img/icons/ss5.svg" alt="img">
                                </div>
                                <h4>Hospitales</h4>
                            </a>
                        </li>
                        <li>
                            <a class="single-software-store text-center">
                                <div class="thumb">
                                    <img src="http://protodone.com/assets/img/icons/ss6.svg" alt="img">
                                </div>
                                <h4>Dispensadores</h4>
                            </a>
                        </li>
                        <li>
                            <a class="single-software-store text-center">
                                <div class="thumb">
                                    <img src="http://protodone.com/assets/img/icons/ss7.svg" alt="img">
                                </div>
                                <h4>Ropa y calzados</h4>
                            </a>
                        </li>
                        <li>
                            <a class="single-software-store text-center">
                                <div class="thumb">
                                    <img src="http://protodone.com/assets/img/icons/ss8.svg" alt="img">
                                </div>
                                <h4>Productos de belleza</h4>
                            </a>
                        </li>
                        <li>
                            <a class="single-software-store text-center">
                                <div class="thumb">
                                    <img src="http://protodone.com/assets/img/icons/ss9.svg" alt="img">
                                </div>
                                <h4>Inventario</h4>
                            </a>
                        </li>
                        <li>
                            <a class="single-software-store text-center">
                                <div class="thumb">
                                    <img src="http://protodone.com/assets/img/icons/ss10.svg" alt="img">
                                </div>
                                <h4>Juguetes</h4>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- software area end -->
