<!-- breadcrumb area start -->
<app-breadcrumbs title="Servicios"></app-breadcrumbs>
<!-- breadcrumb area End -->

<!-- service area start -->
<div class="service-area sbtc-service-area pd-top-120">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-8">
                <div class="section-title text-md-center">
                    <h2 class="title">¿Qúe <span>servicios</span> ofrezco?</h2>
                    <p>Desarrollar tu página web es un elemento fundamental, pero es solo el punto de partida de lo que se puede lograr.</p>
                </div>
            </div>
        </div>
        <div class="row custom-gutters-16 justify-content-center">
            <div *ngFor="let item of services" class="col-xl-3 col-lg-6 col-sm-6">
                <div class="single-service-2 style-two text-center">
                    <div class="thumb">
                        <img [src]="item.image" alt="service">
                    </div>
                    <h6>{{ item.title }}</h6>
                    <p>{{ item.description }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- service area end -->

<!-- gallery area start -->
<div class="gallery-area pd-top-120">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-8">
                <div class="section-title text-md-center">
                    <h2 class="title">Proyectos <span>Realizados</span></h2>
                </div>
            </div>
        </div>
       <div class="row">
           <div class="col-lg-12">
                <div class="gallery-masonry-wrapper">
                    <ul class="gallery-menu text-center">
                        <li class="active" data-filter="*">Todos</li>
                        <li data-filter=".business">Business</li>
                        <li data-filter=".management">Administración</li>
                        <li data-filter=".finance">Finanzas</li>
                        <li data-filter=".technology">Tecnologías</li>
                    </ul>
                    <div class="gallery-masonry row no-gutters">

                        <ng-container *ngFor="let item of gallery">
                            <div class="col-md-4 col-sm-6 masonry-item" [class]="item.filter">
                                <a class="single-work-item text-center" data-effect="mfp-zoom-in" [href]="item.image">
                                    <span class="thumb">
                                        <img [src]="item.image" alt="gallery">
                                    </span>
                                    <span class="content-wrap">
                                        <span class="content">
                                            <span class="title mb-2">{{ item.title }}</span>
                                            <span class="bg-light border rounded px-2 py-3">
                                                <ng-container *ngFor="let subitem of item.icons">
                                                    <img width="36px" [src]="'assets/img/icons/' + subitem + '.svg'" [alt]="subitem" />
                                                </ng-container>
                                            </span>
                                        </span>
                                    </span>
                                </a>
                            </div>
                        </ng-container>

                    </div>
                </div>
           </div>
       </div>
    </div>
</div>
<!-- gallery area End -->
