<!-- header area start -->
<div class="header-area sbtc-header-area" style="background-image:url(assets/img/bg/banner.png);">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6">
                <div class="header-inner-details">
                    <div class="header-inner">
                        <h3 class="sub-title wow animated fadeInUp" data-wow-duration="1s" data-wow-delay="0s">Hola, mi nombre es Gerson Aranibar</h3>
                        <h1 class="title wow animated fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s"><span>Ingeniero de Sistemas</span> Desarrollador Fullstack</h1>
                        <p class="wow animated fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s">Tengo más de 2 años de experiencia realizando aplicaciones web profesionales y<br>desarrollando softwares que te ayudarán en tus proyectos.</p>
                        <div class="btn-wrapper desktop-left padding-top-20 wow animated fadeInUp" data-wow-duration="1s" data-wow-delay="0.9s">
                            <a routerLink="/services" class="btn btn-radius btn-red">Ir a servicios</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 hidden-sm d-flex align-items-center">
                <div class="header-thumb mt-0 wow animated zoomIn" data-wow-duration="1s" data-wow-delay="0.3s">
                    <img class="header-inner-img" src="assets/img/bg/image.png" alt="banner-img">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- header area End -->

<!-- service area start -->
<div class="service-area sbtc-service-area pd-top-120">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-8">
                <div class="section-title text-md-center">
                    <h2 class="title">¿Qúe <span>servicios</span> ofrezco?</h2>
                    <p>Desarrollar tu página web es un elemento fundamental, pero es solo el punto de partida de lo que se puede lograr.</p>
                </div>
            </div>
        </div>
        <div class="row custom-gutters-16 justify-content-center">
            <div *ngFor="let item of services" class="col-xl-3 col-lg-6 col-sm-6">
                <div class="single-service-2 style-two text-center">
                    <div class="thumb">
                        <img [src]="item.image" [alt]="item.title">
                    </div>
                    <h6>{{ item.title }}</h6>
                    <p>{{ item.description }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- service area end -->

<!-- help area Start -->
<div class="about-area sbst-provide-security pd-top-120" style="background-image:url(assets/img/bg/1.png);">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-5 wow animated fadeInRight" data-wow-duration="1s" data-wow-delay="0.3s">
                <div class="img-with-video img-with-video-2">
                    <div class="img-wrap">
                        <img src="assets/img/bg/why.png" alt="img">
                    </div>
                </div>
            </div>
            <div class="col-xl-5 col-lg-6 col-md-7 offset-xl-1 desktop-center-item wow animated fadeInLeft" data-wow-duration="1s" data-wow-delay="0.3s">
                <div class="sbtl-about wow animated fadeInLeft" data-wow-duration="1s" data-wow-delay="0.3s">
                    <div class="section-title style-two">
                        <h2 class="title">¿Por qué elegirme para <br><span>desarrollar tu página?</span></h2>
                    </div>
                    <div class="riyaqas-check-list-wrap">
                        <div class="riyaqas-check-list media mb-3">
                            <img src="assets/img/icons/check2.svg" alt="check">
                            <span>Tengo más de 2 años desarrollando apliaciones web profesionales. Siempre me actualizo para saber las últimas tendencias en diseño, animaciones y posicionamiento seo.</span>
                        </div>
                        <div class="riyaqas-check-list media mb-3">
                            <img src="assets/img/icons/check2.svg" alt="check">
                            <span>Usaré mi creatividad e innovación para poder diseñarte una aplicación web profesional ya que es el punto clave para que resaltes de la competencia.</span>
                        </div>
                        <div class="riyaqas-check-list media mb-3">
                            <img src="assets/img/icons/check2.svg" alt="check">
                            <span>Siempre trabajo con responsabilidad para que todo trabajo quede terminado en la fecha pactada.</span>
                        </div>
                        <div class="riyaqas-check-list media mb-3">
                            <img src="assets/img/icons/check2.svg" alt="check">
                            <span>Los precios de mis trabajos son accesibles para las personas que tienen su pequeña y mediana empresa.</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- help area End -->

<!-- client area start -->
<div class="client-area mg-top-100 bg-gray pd-top-110 pd-bottom-120">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-7 col-lg-9">
                <div class="section-title style-two text-md-center">
                    <h2 class="title text-center">Stack <span>Tecnológico</span></h2>
                    <p>El stack tecnológico, también llamado stack de soluciones o ecosistema de datos, es la lista de todos los servicios tecnológicos que utilizo para construir una aplicación web.</p>
                </div>
            </div>
        </div>
        
        <div class="row justify-content-center">
            <div class="col-12">
                <h4 class="text-center">Tecnologías Frontend</h4>
            </div>
            <div class="col-xl-10">
                <div class="client-slider-2 owl-one">
                    <div *ngFor="let item of frontend" class="item text-center">
                        <a class="pointer">
                            <img [src]="item | image" [alt]="item">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row justify-content-center mt-5">
            <div class="col-12">
                <h4 class="text-center">Tecnologías Backend</h4>
            </div>
            <div class="col-xl-10">
                <div class="client-slider-2 owl-two">
                    <div *ngFor="let item of backend" class="item text-center">
                        <a class="pointer">
                            <img [src]="item | image" [alt]="item">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- client area End -->

<!-- soft-box area start -->
<div class="sbs-what-riyaqas pd-top-120">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 desktop-center-item wow animated fadeInRight">
                <div class="desktop-center-area">
                    <div class="section-title style-two">
                        <h2 class="title">¿Qué tipos de <span>Software</span> realizo?</h2>
                        <p style="max-width: 700px;">Realizo todo tipo de sistemas, desde una página estática para tu negocio hasta una aplicación dinámica completamente funcional que abarque todo el ecosistema de sus procesos.</p>
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            <ul>
                                <li class="riyaqas-check-list style-two">
                                    <span>Página Web</span>
                                </li>
                                <li class="riyaqas-check-list style-two">
                                    <span>E-Commerce</span>
                                </li>
                                <li class="riyaqas-check-list style-two">
                                    <span>Sistema ERP</span>
                                </li>
                                <li class="riyaqas-check-list style-two">
                                    <span>Sistema CRM</span>
                                </li>
                                <li class="riyaqas-check-list style-two">
                                    <span>Sistema Puntos de Venta</span>
                                </li>
                                <li class="riyaqas-check-list style-two">
                                    <span>Sistema de Inventarios</span>
                                </li>
                                <li class="riyaqas-check-list style-two">
                                    <span>Sistema de Restaurantes</span>
                                </li>
                                <li class="riyaqas-check-list style-two">
                                    <span>Sistema de Citas</span>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-5">
                            <ul>
                                <li class="riyaqas-check-list style-two">
                                    <span>Gestión de Usuarios</span>
                                </li>
                                <li class="riyaqas-check-list style-two">
                                    <span>Gestión de Categorías</span>
                                </li>
                                <li class="riyaqas-check-list style-two">
                                    <span>Gestión de Productos</span>
                                </li>
                                <li class="riyaqas-check-list style-two">
                                    <span>Gestión de Ventas</span>
                                </li>
                                <li class="riyaqas-check-list style-two">
                                    <span>Gestión de Pedidos</span>
                                </li>
                                <li class="riyaqas-check-list style-two">
                                    <span>Gestión de Descuentos</span>
                                </li>
                                <li class="riyaqas-check-list style-two">
                                    <span>Pasarelas de Pagos</span>
                                </li>
                                <li class="riyaqas-check-list style-two">
                                    <span>Facturacción Electrónica</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 desktop-center-item wow animated fadeInLeft">
                <img src="assets/img/bg/what.png" alt="img">
            </div>
        </div>
    </div>
</div>
<!-- soft-box area End -->

<!-- faq area Start -->
<div class="faq-area pd-top-120">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-8 col-lg-11">
                <div class="section-title style-five text-center">
                    <h2 class="title">Preguntas <span>Frecuentes</span></h2>
                    <p class="sub-title"><span>¿Tienes otras consultas?</span><br> 
                        Envíame un mensaje de whatsapp al <a class="sub-title" href="https://wa.me/51940994003" target="_blank">+51 940994003</a> 
                        o un correo electrónico a <a class="sub-title" href="mailto:aranibargerson28@gmail.com">aranibargerson28@gmail.com</a>
                    </p>
                </div>
                <div class="accordion style-two" id="accordion">
                    <div *ngFor="let item of questions; let i = index" class="single-accordion card">
                        <div class="card-header">
                            <h2 class="mb-0">
                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" [attr.data-target]="'#collapse-' + i" aria-expanded="true">{{ item.title }}</button>
                            </h2>
                        </div>
                        <div [id]="'collapse-' + i" class="collapse" data-parent="#accordion">
                            <div class="card-body">{{ item.description }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- faq area End -->