<!-- error area start -->
<div class="error-area text-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-4 col-7">
                <div class="error-page-left-img">
                    <div class="top-image">
                        <img class="error-img-1" src="assets/img/others/error_3.png" alt="404">
                        <span>Oops !</span>
                    </div>
                    <img src="assets/img/others/error_2.png" alt="404">
                </div>
            </div>
            <div class="col-md-8 text-center">
                <img src="assets/img/others/error_1.png" alt="404">
                <div class="error-back-to-home">
                    <a class="btn" routerLink="/">Volver al Inicio</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- error area end -->