/* You can add global styles to this file, and also import other style files */
.header-thumb {
  img {
    animation: vector 6s ease-in-out infinite;
  }
}

@keyframes vector {
  0% {
    transform: translateY(10px);
  }
  25% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(10px);
  }
}
