/* You can add global styles to this file, and also import other style files */
.active-link {
  color: #f9556d !important;
  pointer-events: none;
}

.header-thumb {
  img {
    animation: vector 6s ease-in-out infinite;
  }
}

.pointer {
  cursor: pointer;
  img {
    width: 40px !important;
    margin: 0 auto;
  }
}

@keyframes vector {
  0% {
    transform: translateY(10px);
  }
  25% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(10px);
  }
}
